.footer {
  background-image: url('../../../assets/images/footer-bg.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; 
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  font-family: 'Raleway';
  font-size: 18px;
  position: relative;
  bottom: 0;
  width: 100%;

  @media only screen and (max-width: 500px) {
    font-size: 12px;
  }
}

.logo {
  width: 50px;
  padding: 0 5px;

  @media only screen and (max-width: 500px) {
    width: 30px;
  }
}


