<div class="top-navbar">
  <div class="left">
    <img
      src="../../../assets/images/logo.png"
      alt="Neuro-dev Logo"
      class="styled-img"
      routerLink="/"
    />
  </div>
  <div class="hamburger-icon" (click)="toggleMenu()">☰</div>
  <div class="right header-options" [ngClass]="{ 'hamburger-menu': isMenuVisible }">
    <button routerLink="/Sobre">Sobre mí</button>
    <button routerLink="/servicios">Servicios</button>
    <button routerLink="/Blog">Blog</button>
    <button routerLink="/Contact">Contacto</button>
  </div>

</div>
