.top-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  color: rgb(29, 121, 225);
  padding: 10px 16px;
  height: 64px;  
}

.left h1 {
  margin: 0;
}

.right a {
  color: rgb(29, 121, 225);
  text-decoration: none;
  margin-left: 20px;
}

.font-header {
  font-family: 'Quiksand', sans-serif;
  font-size: 20px;
}

.header-options {
  font-family: 'Quiksand', sans-serif;
  font-size: 16px;
}



