<div class="top-navbar">
  <div class="left">
    <img
      src="../../../assets/images/logo.png"
      alt="Neuro-dev Logo"
      class="styled-img"
    />
  </div>
  <div class="right header-options">
    <button routerLink="/Sobre">Sobre mí</button>
    <button routerLink="/Blog">Blog</button>
    <div
      class="dropdown"
      (mouseenter)="onMouseEnter()"
      (mouseleave)="onMouseLeave()"
    >
      Servicios
      <div
        class="dropdown-content"
        [ngClass]="{ 'show-dropdown': isDropdownVisible }"
      >
        <a routerLink="/Neuropsicologia">Neuropsicología</a>
        <a routerLink="/Psicologia">Psicología</a>
      </div>
    </div>
    <button routerLink="/Contact">Contacto</button>
  </div>
</div>
