.top-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  padding: 10px 24px;
  height: 64px;  
}

.styled-img {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
}

.right {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.header-options {
  font-family: 'Quiksand', sans-serif;
}

.header-options button {
  color: #162f91;
  width: 75px;
  height: 27px;
  padding: 0;
  border: none;
  cursor: pointer;
  background-color: transparent; 
  font-size: 16px;
}


.header-options .dropdown {
  color: #162f91;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 75px;
  height: 27px;
}

.header-options .dropdown:hover {
  color: #c08600;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  flex-direction: column;
  background-color: #fcfcfc;
  z-index:1;
  top: 100%;
  padding-top: 8px;
  width: 160px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.dropdown-content a {
  color: #003bcf;
  text-decoration: none;
  display: flex;
  align-items: center;
  height: 36px;
}

.header-options .dropdown:hover .dropdown-content {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
}

.header-options button:hover {
  color: #c05a00;
  cursor: pointer;
}

.show-dropdown {
  display: block;
  flex-direction: column;
}

.hamburger-menu {
  display: none; /* Initially hide the hamburger menu button */
  font-size: 32px;
}

@media screen and (max-width: 600px) {
  .right.header-options {
    display: none; /* Hide the regular menu items on small screens */
    position: absolute;
    top: 100px;
    right: 0;
    background-color: #4e3535;
    padding: 10px;
  }

  .hamburger-menu {
    display: block; /* Show the hamburger menu button on small screens */
    border: none;
  }

  .show-menu {
    display: flex; /* Show the menu items when the hamburger menu is clicked */
    flex-direction: column;
  }
}



