<div class="contact-form">
  <h2>Contacto</h2>
  <p>
    Si deseas más información o tienes alguna duda no dudes en enviarme un
    mensaje.
  </p>
  <form (ngSubmit)="onSubmit()" #contactForm="ngForm">
    <div class="form-group">
      <input
        type="text"
        id="name"
        name="name"
        [(ngModel)]="formData.name"
        required
        placeholder="Nombre"
      />
    </div>

    <div class="form-group">
      <input
        type="email"
        id="email"
        name="email"
        [(ngModel)]="formData.email"
        required
        placeholder="Correo electrónico"
      />
    </div>

    <div class="form-group">
      <input
        type="tel"
        id="phone"
        name="phone"
        [(ngModel)]="formData.phone"
        required
        placeholder="Teléfono"
      />
    </div>

    <div class="form-group">
      <textarea
        id="message"
        name="message"
        [(ngModel)]="formData.message"
        required
        placeholder="Mensaje"
      ></textarea>
    </div>

    <div class="center-button">
      <button type="submit">Enviar</button>
    </div>
  </form>
</div>
