.container {
  height: fit-content;
  margin: 0;
  display: flex;
  justify-content: center;
}

.info-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 40px;
  margin: 0 20px;
  width: 800px;
}

.nd-info {
  padding: 16px 0; 
  width: 460px;
}

.right-img {
  width: 300px;
  margin-top: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-form {
  width: 300px;
  padding-top: 16px;
  border: 1px solid yellow;
}

.title-info {
  font-family: 'Quiksand', sans-serif;
  margin: 10px 0;
}

.right-nav {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.styled-img {
  width: 90%;
  height: 90%;
  display: flex;
  align-items: center;
}