.title {
  color: rgb(255, 255, 255);
  margin: 16px 0;
  display: flex;
  justify-content: center;
  font-family: 'Raleway';
  font-size: 28px;
}

.description {
  color: rgb(255, 255, 255);
  margin: 16px 0;
  display: flex;
  justify-content: center;
  font-family: 'Raleway';
  font-size: 28px;
}
