.container {
  height: auto;
  margin: 0;
  background-color: #D6D3D1;
}

h1 {
  text-align: center;
  padding-top: 16px;
  font-family: 'Raleway';
  font-size: 28px;
}

.blocks {
  display: grid;

}

h3 {
  text-align: center;
  padding-bottom: 16px;
  font-family: 'Raleway';
  font-size: 20px;
}